dl {
    margin: {
        bottom: 20px;
    }
}

dl dt {
    float: left;
    width: 30%; /* 180px of 600 */
    clear: both;
    text-align: right;
    font-weight: 700;
    margin-bottom: 1em;
}

dl dd {
    float: right;
    clear: right;
    width: 66.6667%; /* would rather use 'available' */
    margin-left: 0; /* undo default browser styling */
    margin-bottom: 1em
}

/* ensure dl contains all floating dt */
dl:after {
    content: "";
    display: block;
    clear: both;
}
